.table{
    margin-left: 30px;
}
.nav-link{
  color: white;
}
.quote{
    
    font-size: xx-large;
    font-weight: bolder;
    word-spacing: 10px;
    letter-spacing: 2px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
   
}